<h1>{{ name }}</h1>
<button *ngIf="(user | async)" (click)="signOut();">Sign out</button>
<br><br>
<!--Form to sign in -->
<ul *ngIf="!(user | async)">
  <input placeholder="Enter your email" [(ngModel)]="txtEmail"/>
  <br><br>
  <input placeholder="Enter your password" [(ngModel)]="txtPassword" type="password" />
  <br><br>
  <button (click)="signUp();">Sign up</button>
</ul>

<!--When user exist-->
<div *ngIf="user | async">
  <div id="add-post">
    <input placeholder="Enter your post" [(ngModel)]="txtPost" />
    <br><br>
    <button (click)="addPost();">Add post</button>
  </div>
  <ul *ngIf="(posts | async)?.length > -1">
    <p>List post</p>
    <li *ngFor="let post of posts | async">
      <p>{{ post.content }}</p>
      <button (click)="remove(post.$key);">delete</button>
    </li>
  </ul>
</div>
